<mat-toolbar color="primary">
    <span>{{brand}}</span>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
    <div fxFlex="25%"></div>
    <div fxFlex="50%" style="text-align: center;">
        <span>
            <div fxFlex="33%"></div>
            <img mat-card-image class="profile-image" fxFlex.gt-md="33%" fxFlex.md="33%" fxFlexAlign="center" fxFill src="../assets/IMG_3379.jpeg" style="padding-top: 15px;" alt="Photo of Paul">
            <div fxFlex></div>
        </span>
        <h1>{{title}}</h1>
        <p>People on the Internet know me as pawlieboy.</p>
        <p>I am an alumnus of Virginia Tech's class of 2019 who graduated with a M.S. degree in Computer Engineering.  I am interested in data science and making useful web applications based on the models I train.</p>
        <br>
        <h3>Here's what I'm up to right now:</h3>
        <mat-list>
            <mat-list-item *ngFor="let activity of activities">
                <p mat-line><span> {{activity.text}} <a *ngIf="activity.link" href="{{activity.link}}">{{activity.linkAltText}}</a> </span> </p>
                <mat-divider [inset]="true"></mat-divider>
            </mat-list-item>
        </mat-list>
        <br>
        <p>{{freeTime}}</p>
        <br>
        <p>{{contact}}</p>
    </div>
    <div fxFlex></div>
</div>

<footer fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.5%">
    <div fxFlex="25%"></div>
    <div fxFlex="50%" fxLayoutAlign="center">
        <a href="https://twitter.com/pawlie_"><fa-icon class="fa fa-twitter" [icon]="['fab', 'twitter']"></fa-icon></a>
        <a href="https://www.instagram.com/pawliesan/"><fa-icon class="fa fa-instagram" [icon]="['fab', 'instagram']"></fa-icon></a>
        <a href="https://www.facebook.com/paul.berges.3"><fa-icon class="fa fa-facebook" [icon]="['fab', 'facebook']"></fa-icon></a>
        <a  href="https://www.linkedin.com/in/paul-berges-5764241a1/"><fa-icon class="fa fa-linkedin" [icon]="['fab', 'linkedin']"></fa-icon></a>
        <a href="mailto:paulberges@vt.edu"><fa-icon class="fa fa-email" icon="envelope"></fa-icon></a>
    </div>
    <div fxFlex></div>
</footer>
